body {
    background-color: rgb(31, 31, 31);
}

.clavier {
    position: absolute;
    bottom: 2vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    max-width: 500px;
}

.clavier:hover button {
    background-color: rgba(255, 255, 255, 0.644);
}

button {
    width: 40px;
    margin: 4px 2px;
    font-weight: bold;
    border: none;
    background-color: rgba(255, 255, 255, 0.199);
    color: teal;
    text-shadow: 0 0 10px  rgba(0, 0, 0, 0.479);
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(58, 58, 58, 0.658) !important;
    box-shadow: 0 0 5px 4px rgba(22, 22, 22, 0.281) ;
}

button:active {
    background-color: rgb(192, 39, 39) !important;
    box-shadow: 0 0 5px 4px rgba(247, 23, 23, 0.281) ;    
}



.containerAnimation {
    width: 100%;
    height: 50vw;
    position: relative;
    overflow: hidden;
}

.back {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    animation: backImage 5s infinite linear;
}

.back img {
    position: absolute;
    width: 100%;
    bottom: 0;
}



.containerAnimation::after {
    content: '';
    position: absolute;
    width: 10vw;
    height: 1vw;
    background-color: rgba(36, 49, 49, 0.116);
    border-radius: 50%;
    bottom:  4vw;
    left: 15%;
    animation: vessel2 4s infinite ease-in-out ;
}

@keyframes vessel2 {
    0% {
        transform: translateY( 0);
    }
    50% {
        transform: translateY( 40px);
    }
    100% {
        transform: translateY( 0);
    }
}
@keyframes vessel {
    0% {
        transform: translate(0, 0);
    }
    
    50% {
        transform: translate(-40px, 40px);
    }
    
    100% {
        transform: translate(0, 0);
    }
}
.back2 {
    left: 99.9% !important;
}

@keyframes backImage {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.groupeShip {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: vessel 4s infinite ease-in-out ;
    z-index: 100;
}

.vessel {
    position: absolute;
    width: 40vw;
    bottom: 50%;
    left: -5vw;
    transform: translateY(50%);
    z-index: 10;
}

.animation {
    width: 22vw;
    height: 5.5vw;
    overflow: hidden;
    position: absolute;
    left: -1vw;
    bottom: 50%;
    transform: translateY(50%);   
}


.booster {
    position: absolute;
    height: 5.5vw;
    animation: moveSpritesheet 1s linear infinite;
}

.booster2 {
    left: 88%;
}

@keyframes moveSpritesheet {
    from {
       transform: translate3d(0,0,0)
    }
    to {
       transform: translate3d(-100%,0,0)
    }
 }

 .rock1 {
    animation: rock 5s infinite linear;
 }

 @keyframes rock {
     0% {
        transform: translate3d(0,0,0)
     }
     100% {
        transform: translate3d(10%,0,0)
     }
 }

 .backback {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    animation: backImage 6s infinite linear;
    z-index: -1;
 }
 .backback img {
    position: absolute;
    width: 100%;
    bottom: 0;
 }


 .restart button {
     opacity: 1 !important; 
 }


 .word2{
    border 2px solid black;
    height: 30px;
}

.transparent{
    color: rgba(255, 0, 0, 0);
}
.transparent2{
    background-color: chartreuse !important;
}

.difficulty{
background-color: rgb(116, 248, 116);
}

.start {
    position: absolute;
    top: 0;
    width: 50vw;
    z-index: 1000;
}

.start .startButton {
    padding: 0 20px;
    background-color: rgb(173, 54, 54);
    color: white;
    font-size: 1.4em;
    transform: translateX(50%);
}

.start button {
    width: unset;
}

.start button:hover {
    background-color: rgba(255, 255, 255, 0.596) !important;
}

.miss {
    position: absolute;
    top: 3vw;
    left: 1vw;
    font-weight: bold;
    opacity: 0.8;
}
.miss2 {
    position: absolute;
    top: 4.5vw;
    left: 1vw;
    font-weight: bold;
    opacity: 0.8;
}



.shoot {
    position: absolute;
    background-color: turquoise;
    width: 4vw;
    height: 0.5vw;
    border-radius: 50%;
    top: 25vw;
    left: 23vw;
    box-shadow: -10px  0 10px 5px rgba(64, 224, 208, 0.603);
    animation: vessel 4s infinite ease-in-out forwards ;


}

.shoot.anim {
    opacity: 0;
    animation: shooter 1s linear ;
    z-index: 0;
}

@keyframes shooter {
    0% {
        opacity: 1;
    }
    
    100% {
        transform: translateX(50vw);
        opacity: 0.8;
    }
}



.output {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
}

.groupeOutput {
    position: absolute;
    right: 0;
    height: 100%;
    width: 38vw;
    animation: vessel 8s infinite ease-in-out ;
}

.ennemi {
    width: 50vw;
    position: absolute;
    left: 40%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    opacity: 1;
    
}
.ennemi.hit {
    animation: hit 0.6s  linear ;
}

@keyframes hit {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.starting {
    animation: come 2s forwards;
}

@keyframes come {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}

.crash {
    animation: crash 2s forwards;
}

@keyframes crash {
    from{
        transform: translateX(0);
    }
    to{
        transform: translate(10%, 100%);
    }
}

.go {
    animation: goOut 2s forwards;
}

@keyframes goOut {
    from{
        transform: translateX(0);
    }
    to{
        transform: translate(100%, 0);
    }
}

.Word {
    width: 30vw;
    bottom: 50%;
    left: 45%;
    transform: translate(-50%,50%);
    position: absolute;
    z-index: 10;    
    justify-content: space-evenly;    
}

.wordBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.692);

    text-align: center;

    font-size: 3vw;
    font-weight: bold;
    transition: opacity 0.4s;
    
}

.containerAnimation::before {
    content: '';
    position: absolute;
    width: 50vw;
    height: 1vw;
    background-color: rgba(36, 36, 36, 0.116);
    border-radius: 50%;
    bottom:  4vw;
    left: 60%;
    animation: vessel2 8s infinite ease-in-out ;
    z-index: 100;
}

.finish {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.finish p {
    color: white;
    font-size: 2em;
    text-align: center;
}

.finish button {
    width: unset;
    color: white;
    padding: 10px 20px;
}

.blur {
    filter: blur(4px);
}

.false {
    background-color: brown;
}
